.maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;

}
.item1{
    height: 300;
    width: 300;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

}
.item1-1{
    height: 100;
    width: 100;
    background-color:blueviolet;
    
}
/* .item2{
    height: 100;
    width: 100;
    background-color: rgb(255, 0, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:center;
}
.item3{
    height: 100;
    width: 100;
    background-color: rgb(219, 230, 221);
}
.item4{
    height: 100;
    width: 100;
    background-color: rgb(32, 28, 28);
} */