.maincontainers{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.subcontainers{
    border: 2px solid lightgrey;
    padding: 20px 50px 20px 50px;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px ;
}
p{
    font-weight: 400;
    font-size: smaller;
}